<!DOCTYPE html>
<head>
    <title>Test App</title>
</head>
<body>
    <h1>Add new value to Redis</h1>
    <form action="/add">
        <input placeholder="key" type="text" name="key">
        <input placeholder="value" type="text" name="value">
        <input type="submit" value="Add">
      </form>
    <br>
    <h1>Redis data:</h1>
    <table style="width: 50%; border: solid black 1px;">
        <tr style="border: solid black 1px;">
          <th style="border: solid black 1px;">Key</th>
          <th style="border: solid black 1px;">Value</th>
        </tr>
        {% for key, value in res.items() %}
        <tr style="border: solid black 1px;">
          <td style="border: solid black 1px;">{{ key }}</td>
          <td style="border: solid black 1px;">{{ value }}</td>
        </tr>
        {% endfor %}
      </table>
      <br><hr>
      <h2>Environment Variables:</h2>
      <p>Redis Host: {{ redis_host }}</p>
      <p>Redis Port: {{ redis_port }}</p>
      <p>Flask Env: {{ flask_env }}</p>
      <p>App version: {{ app_vers }}</p>
      <br><hr>
      <h2>Grafana:</h2>
      <a href="./dashboard/flask">Flask Dashboard</a>
      <h3>Inframe Panel</h3>
      <iframe src="./grafana/d-solo/flask_dashboard/flask-application-dashboard?orgId=1&refresh=5s&theme=light&panelId=13" width="800" height="500" frameborder="0"></iframe>
</body>
</html>
